body{
    background-color: aliceblue;
    font-family: 'Indie Flower', cursive;
}

.header_div{
    background-color: aqua;
    color:maroon ;
}

.header_div img{
    width: 100px;
    height: 100px;
    border: 6px solid midnightblue;
    
}

.main_div{
    background-color: olivedrab;
    padding: 10px;
    margin-top: 16px;
    border: 3px solid white;
}

.main_div label{
    background-color: whitesmoke;
    width: 300px;
    padding: 10px;
    margin-bottom: 6px;
    box-shadow: 5px 5px 23px greenyellow;
}

#camera,#result{
border: 2px solid whitesmoke;
width: 300px;
height: 300px;
box-shadow: 5px 5px 23px greenyellow;
}

.main_div button{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 23px greenyellow;
    border: 1px solid aliceblue;
}

.footer_div{
    margin-bottom: 50px;
}

.footer_div h4{
    background: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 23px greenyellow;
}

.footer_div img{
    width: 70px;
}

.copyright_footer{
position: fixed;
color: rgb(0, 0, 0);
bottom: 0;
width: 100%;
background-color: crimson;
line-height: 3;
text-align: center;
}